<div class="w-full h-full">
  <mat-tab-group>
    <mat-tab label="All Users Workout List">
      <div class="flex-col space-x-10 pt-6">
        <app-add-workout (userAdded)="workoutListComponent.loadUsers(); workoutProgressComponent.loadUsers()"></app-add-workout>
        <app-workout-list #workoutListComponent></app-workout-list>
      </div>
    </mat-tab>
    <mat-tab label="Workout Progress">
      <div class="flex-col space-x-10 pt-6">
        <app-add-workout (userAdded)="workoutListComponent.loadUsers(); workoutProgressComponent.loadUsers()"></app-add-workout>
        <app-workout-progress #workoutProgressComponent></app-workout-progress>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>